/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/*RESETS*/
/**, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
    margin:0; padding:0; 
}
table { border-collapse:collapse; border-spacing:0}
fieldset, img { border:0}
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal}
ol, ul, li { list-style:none}
caption, th { text-align:left}
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:bold}
strong { font-weight:bold}
a img { border:none}*/

ol, ul, li { list-style:none}
.clearfix { clear: both;}
.no-margin { margin: 0;}

