/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/*RESETS*/
/**, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
    margin:0; padding:0; 
}
table { border-collapse:collapse; border-spacing:0}
fieldset, img { border:0}
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal}
ol, ul, li { list-style:none}
caption, th { text-align:left}
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:bold}
strong { font-weight:bold}
a img { border:none}*/

ol, ul, li { list-style:none}

.clearfix { clear: both;}

.no-margin { margin: 0;}

body {
    background-image: url('/background.jpg');
}

div#content {
  margin: 20px 120px;
  padding: 1em 2em;
  background-color: #EEEEEE;
  border-radius: 3em;
}

ul#menu li {
  float: left;
  margin: 0 1em;
}

#welcome {
  float: left;
  margin: 0 1em 0 40px;

}

div#content table {
  margin: auto;
  border: 1px solid;
  border-collapse: collapse;
  background-color: #DDD;
}

div#content table th {
  border-collapse: collapse;
  border: 1px solid;
  width: 100%;
  padding: 2em;
}

div#content table td {
  border-collapse: collapse;
  border: 1px solid;
  text-align: center;
}

div#content table tbody tr:nth-child(odd) {
  background-color: #888;
  color: black;
}

