// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vote_button {
  float: left;
  padding-right:2em;
}

.comment_picture {
  align: left;
  width: 5em;
  height: 5em;
  float: left;
}

.comment_content {
  margin-left: 0.5em;
  height: 5em;
}

.comment_create {
  text-align: right;
}

pre {
  white-space: pre-wrap;
}
