<%= "%s, %s" % [t('welcome', :default => 'Welcome'), 
      user_signed_in? ? current_user.display_name : t('guest', :default => 'Guest')] %>

<nav>
  <section>
    <ul>
      <% menu_links.each do |key, path| %>
        <%= link_to t(key), path %>
      <% end %>
    </ul>
  </section>
</nav>
